<h1>Flask GUI Demo</h1>
<p>Please provide inputs. </p>
<form id = "myForm" action="/solve" method="POST">
    Width: <input type="number" name = "w" required/> meters </br>
    <br>
    Height: <input type="number" name = "h" required/> meters </br>
    <br>
    Length: <input type="number" name = "l" required/> meters </br>
    <br>
    Inlet Temperature: <input type="number" name = "T_in" required/> Kelvin </br>
    <br>
    Vol. Flow Rate: <input type="number" name = "Vdot" required/> m<sup>3</sup>/s </br>
    <br>
    Chip Heat: <input type="number" name = "q_chip" required/> ? </br>
    <br>
    Fluid: <select name="fluid" id="fluid">
        <option value="air">Air</option>
        <option value="liq2">Liquid 2</option>
        <option value="liq3">Liquid 3</option>
        <option value="liq4">Liquid 4</option>
      </select>
    <br>
    <input type="submit" value = OK />
    <input type="button" onclick="reset()" value="Reset">
    <br>
</form>

<script>
    function reset() {
      document.getElementById("myForm").reset();
    }
    </script>
<br>


{% if result %}
    <p>Twall: {{result["T_wall"]}} </p>
{% endif %}





